@import url('https://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,700');

/*
	400 - Regular
	700 - Bold
*/

*,*:before,*after {
	box-sizing: border-box;
	position: relative;
}
html,body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	overflow: auto;
}
@media (max-width: 640px) {
	body {
		overflow: hidden;
	}
}

#home {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: url(assets/fundoheader.jpg) no-repeat;
	background-size: cover;
}
@media (max-width: 640px) {
	#home {
		flex-direction: column;
		justify-content: center;
	}
}
#home nav {
	width: 100%;
	position: fixed;
	top: 0;
}
#home nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 27px;
}
#home nav ul a{
	text-decoration: none;
}
#home nav ul a li{
	margin-left: 1.72%;
	border:solid 1px #888;
	border-radius: 15px;
	width: 100px;
	background: #fff;
	color : #00416d;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0em;
	padding: 5px 0;
	font-size: 0.94em;
	margin: 10px;			
}
@media (max-width: 640px){
	#home nav ul a li{
		width: 80px;
		border-radius: 25px;
		padding: 4px;
		margin: 4px 5px;
		font-size: 1.2em;
		margin-left: 0;
		line-height: 1.8em;
	}
}
#home h1{
	width: 40%;
	font-size: 5em;
	color: #ffffff;
	font-family: 'PT Mono', monospace;
	font-weight: 700;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin-left: 16%;
	margin-top: 227px;
}
@media (max-width: 640px){
	#home h1{
		font-size: 4em;
		margin:0;
		/*margin: 40% 32px;*/
		display: flex;
		align-self: flex-start;
	}
}
#home h2{
	font-size: 2.5em;
	color: #ffffff;
	font-family: 'PT Mono', monospace;
	font-style: normal;
	text-align: left;
	line-height: 2.14em;
	letter-spacing: 0em;
	margin-top: 325px;
	margin-left: 4.52%;
}
@media (max-width: 640px){
	#home h2{
		width: 100%;
		margin: 0;
		/*margin-top: 75px;*/
		/*margin-left: 35px;*/
		/*flex-direction: row;*/
		font-size: 2.5em;
		/*display: flex;*/
		/*align-self: center;*/
		position: static;
		}
}
main{
	display: flex;
	align-items: flex-start;
	min-height: 100vh;
	/*background: #000;*/
}
@media (max-width: 640px){
	main{
		width: 100%;
		flex-direction: column;
	}
}
main .sections{
	max-width: 50%;
	min-height: 70vh;
	margin-top: 7%;
	/*background: red;*/
}
@media(max-width: 640px){
	main .sections{
		max-width: 100%;
	}
}
main #sobre{
	padding-top: 40px;
	border-right: solid 3px #d5d5d5;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}
main #sobre h2{
	width: 72%;
	margin:0;
	margin-left: 2%;
	padding-left: 5%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.88em;
	font-style: normal;
	text-align: left;
	color: #1f4ecc;
	line-height: 1.3em;
	letter-spacing: 0em;
}
main #sobre p{
	width: 70%;
	padding-left: 5%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.10em;
	color: #1f4ecc;
	font-style: normal;
	text-align: left;
	line-height: 1.15em;
	letter-spacing: 0em;
}
main #acoes{
	display: flex; 
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;
	padding-top: 20px;
	padding-left: 20px;
}
@media(max-width: 640px){
	main #acoes{
		flex-direction: column;
	}
}
main #acoes h2{
	width: 100%;
	margin-left: 7px;
	/*margin: 0 30px;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.88em;
	color: #1f4ecc;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}

main #acoes .container-acoes{
	width:20%;
	min-height: 40vh;
	color: #1f4ecc;
	padding: 30px 20px;
	border: solid 2px #eb3a38;
	border-radius: 30px;
	margin-left: 7px;
	margin-top: 10px;
}
@media (max-width: 640px){
	main #acoes .container-acoes{
		width: 40%;

	}
}
main #acoes .container-acoes h3{
	height: 44px;
	margin-top: 0;
	display: flex;
	align-items: flex-end;

}

main #acoes .container-acoes1{
	
}
main #acoes .container-acoes2{
/*	padding: 25px;*/
}
main #acoes .container-acoes3{

}

main #acoes div p{
	margin-top: 0;
	font-size: 13px;
}

#contato {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: url(assets/fundofooter.jpg) no-repeat bottom;
	background-size: cover;
}
#contato div{
	background: rgba(0,0,0,0.5);
	width: 22%;
	border-radius: 15px;
	margin-right: 5%;
	padding: 15px 35px;
	padding-bottom: 0;
	padding-left: 25px;
	padding-right: 0;
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap
}
#contato div h3{
	width: 100%;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 1.5em;
	color: #ffffff;
	font-style: normal;
	text-align: center;
	line-height: 1.61em;
	letter-spacing: 0em;
	margin: 0px;
}
#contato div p{
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	color: #ffffff;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	margin: 5px;
	/*margin-left: 59px;*/
}
#contato div a{
	text-decoration:none;
	width: 50px;
	height: 50px;
	margin-left: 11px;
	position: relative;
	left: 100px;
	bottom: 15px;
}
#contato div a img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #fff;
	margin-left: 20px;
	margin-right: 25px;
	/*margin-left: 110px;*/
}